# iLCSoft used for production
ilcsoft_version="v02-02"
ilcsoft_dir="/cvmfs/ilc.desy.de/sw/x86_64_gcc82_sl6/${ilcsoft_version}"

# lcg image (including modern pyROOT and Python3) used for python scripts
lcg_version=98python3

# WHIZARD used for rescanning
noweb_path=/afs/desy.de/group/flc/pool/beyerjac/WHIZARD/installations/noweb/install
whizard_dir=/afs/desy.de/group/flc/pool/beyerjac/WHIZARD/installations/WHIZARD_2021_04_23_Wolfgang_RescanFix/whizard-3.0.0_beta+